.test {
    display: flex;
    justify-content: normal;
    /* margin-top: 120px; */
    margin-left: 320px;
    flex-direction: column;
}
.testone {
    justify-content: normal;
    ;
    /* margin-top: 120px; */
    margin-left: 320px;

}

.testtwo {

    justify-content: normal;
    ;
    margin-top: -224px;
    margin-left: 560px;
}

;

.testpay {
    margin-top: 24px;
}

;

.test {
    display: flex;
    justify-content: normal;
    /* margin-top: 120px; */
    margin-left: 320px;
    flex-direction: column;
}

;

.inputbox {
    display: flex;
    justify-content: normal;
    ;
    margin-top: 120px;
}

.testbox{
    display: flex;
    
}
.element2{
    margin-top: 62px;
    margin-left: 30px;
}
